/*-- scss:defaults --*/

// Custom colours and variables
$nit: #131516;
$cup: #149a9d;
$cup2: #9a2515;
$pink: #e64173;
$blue: #4285F4;
$red: #FF0000;
$orange: #f6870f;

.alert {
  color: $pink;
}

.blur {
  color: $blue;
}

.reder {
  color: $red;
}

.cupp{
  color: $cup;
}

.oranger{
  color: $orange;
}

.fg {
  color: var(--col, $nit);
}

.bg {
  background-color: var(--col, #fff);
  padding: 0.1em;
  border-radius: 5px;
  display: inline-block;
}

.under {
  text-decoration: underline red;
}

.line {
  text-decoration: line-through;
}

.small {
  font-size: 21px; /* Tamaño de fuente más pequeño */
  font-family: Helvetica, monospace; /* Fuente personalizada */
}

.pseudocode, .pseudocode-small {
  font-family: monospace;
  background: #f8f8f8;
  border-radius: 3px;
  padding: 10px;
}
.pseudocode-small {
  font-size: 20px;
}

.bullet-list {
  font-size: 16px;  // Fuente pequeña
  line-height: 1.5; // Espacio entre líneas
  
  li {
    margin-bottom: 5px; // Espacio entre elementos de la lista
    list-style: disc;   // Utilizar bullet points
  }
}
